html,body {  font-size:14px; height:100%;  }
.hover{ opacity: 1.0; }

.flex-wrap{ display: -webkit-box;	display: -webkit-flex;	display: flex; }
.flex-con{     -webkit-box-flex: 1;     -webkit-flex: 1;    flex: 1;}
.flex-vertical{ -webkit-box-orient: vertical;-webkit-flex-flow: column;flex-flow: column;}

.border-t,
.border-b{ position:relative;  }
.border-t:before,
.border-b:after{     content: '';     position: absolute;     left: 0;  top:0;     background: #ddd;   right:0;    height: 1px;     -webkit-transform: scaleY(0.5);             transform: scaleY(0.5);     -webkit-transform-origin: 0 0;             transform-origin: 0 0; }
.border-b:after{ top:auto; bottom:0;  }

#wrap{ height: 100%; }

.register-container { padding-left: 20px; padding-right: 20px; padding-top:50px; }
.register form {
    padding: 80px 50px 40px 50px;
    height: 100%;
    background: #f8f8f8 url(../image/pattern.jpg) left top repeat; 
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    -moz-box-shadow: 0 1px 5px 0 rgba(0,0,0,.3);
    -webkit-box-shadow: 0 1px 5px 0 rgba(0,0,0,.3);
    box-shadow: 0 1px 5px 0 rgba(0,0,0,.3);
    text-align: center;
}
@media (max-width: 767px){
.register form h1 {
    background: none;
}
}
.red {
    color: #eb4141;
}
.register form label {
    margin: 7px 0 10px 5px;
    font-size: 24px;
    text-align: left;
}
.register form input {
    width: 95%;
    height: 30px;
    background: #fcfcfc;
    border: 1px solid #ddd;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0 1px 3px 0 rgba(0,0,0,.1) inset;
    -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,.1) inset;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1) inset;
    font-family: 'PT Sans', Helvetica, Arial, sans-serif;
    color: #888;
    font-size: 16px;
}
.register form button {
    cursor: pointer;
    width: 60%;
    height: 42px;
    margin-top: 25px;
    padding: 0;
    background: #eb4141;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: 0;
    -moz-box-shadow: 0 15px 30px 0 rgba(255,255,255,.1) inset;
    -webkit-box-shadow: 0 15px 30px 0 rgba(255,255,255,.1) inset;
    box-shadow: 0 15px 30px 0 rgba(255,255,255,.1) inset;
    font-family: 'PT Sans', Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    text-shadow: 0 1px 2px rgba(0,0,0,.1);
}

.style {
    left: 0px;
    top: 0px;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    height: 674px;
    width: 400px;
    z-index: -999999;
    position: fixed;
}
img {
    overflow-clip-margin: content-box;
    overflow: clip;
}
.trans {
    display: flex;
    flex-wrap: nowrap;
    text-align: left;
    border:2px solid rgba(228, 225, 225, 0.521);
    position:absolute;
    height: 40px;
    width: 100%;
    font-size: 18px;
}
.trans div {
    flex-grow: 1;
    height: 100%;
}
.left {
    width: 20%;
}
.middle {

    width: 65%;
    line-height: 40px;
}
.right {

    width: 15%;
    float: right;
}
.back{
    float: left;
    width:10% ;
    margin-top: 15px;
    background: url(../image/bottombtn0102.png);
}